* {
    margin: 0;
    padding: 0;
}

.khoittnho h3.tieudecap3 {margin-top: 20px;color: red;}

h2.tieudecap2 {
    font-weight: normal;
    font-family: segoe ui light;
    text-transform: uppercase;
    font-size: 30px;
}

.tieudeto {
    margin-top: 120px;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 60px;
}

.tt p {
    width: 40%;
    margin: auto;
    color: black;
    margin-bottom: 20px;
}
.tt .nuthire{
    width: 180px;
    border: none;
    border-radius: 0%;
    background: black;
}

.tt h2 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.tt img {
    margin-top: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.tt {
    position: relative;
    z-index: 2;
}

body,html {
    width: 100%;
    height: 100%;
}

.khoitt1 {
    height: 70%;
    width: 100%;
    background: #e9585f;
}

.khoitt1:before {
    content: "";
    position: absolute;
    left: 0px;
    /* top: 0px; */
    width: 50%;
    height: 70%;
    background: #e4555b;
}

nav.navbar.navbar-light.bg-faded {
    margin: 0;
    padding: 0;
    height: 100px;
}

.menutop img {
    height: 90px;
}

a.nav-link {
    font-family: segoe ui;
    font-size: 13px;
    text-transform: uppercase;
    color: #101010;
    line-height: 80px;
}

li.nav-item {
    margin: 0 17px;
    padding: 0;
}
span.dam{
    font-weight: bold;
    font-family: segoe ui;
}
@media (max-width: 576px) {
    * {
        margin: 0;
        padding: 0;
    }

.tt img {
    width: 210px;
    margin-top: 25px;
}

ul.nav.navbar-nav.float-xs-right {
    z-index: 2;
    position: relative;
    background: white;
    margin-right: -15px;
    margin-left: -15px;
    padding: 5px;
    border-top: 1px solid #ada5a5;
}

    nav.navbar.navbar-light.bg-faded {
        margin: 0;
        padding: 0;
        height: 100px;
    }

    .menutop img {
        height: 90px;
    }

    a.nav-link {
        font-family: segoe ui;
        font-size: 13px;
        text-transform: uppercase;
        color: #101010;
        line-height: 80px;
    }

    li.nav-item {
        margin: 0 17px;
        padding: 0;
    }
    @media (max-width: 576px) {
        *{}
        a.navbar-brand {
            width: 100%;
            display: block;
            text-align: center;
        }

        ul.nav.navbar-nav.float-xs-right {
            float: none;
            text-align: center;
        }

        li.nav-item {
            display: inline;
            float: none !important;
            margin: 0;
        }

        a.nav-link {
            line-height: 27px;
            display: inline !important;
        }
    }

}